.wrapperBody {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: var(--footerHeight);
    border-top: 1px var(--contrastColor) solid;

    .logOutButton {
        @extend %text-button !optional;
        opacity: 0;
    }

    .themeButton {
        position: relative;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        background-color: white;
        transition: transform 250ms ease-in;
        ease-in &:hover {
            box-shadow: 0px 0px 0px 1px;
        }

        &:after {
            content: "";
            background-color: black;
            position: absolute;
            top: 0px;
            right: 0px;
            border-radius: 100%;
            width: 30px;
            height: 30px;
            box-shadow: unset;
            clip-path: inset(0px 0px 0px 50%);
        }

        &.inverted {
            transform: rotate(180deg);
        }
    }
}
