$mainColor-dark: #000;
$secondaryColor-dark: #212121;
$bgColor-dark: #070707;
$textColor-dark: #fff;
$contrastColor-dark: #fff;

$mainColor-light: #fff;
$secondaryColor-light: #d8d8d8;
$bgColor-light: #e8e8e8;
$textColor-light: #000;
$contrastColor-light: #000;
